body {
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	min-height: 100vh;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	font-size: 16px;
	background-color: #f0f4f4;
}

.container {
	--container-width: 1180px;
	--container-padding: 30px;
	max-width: calc(var(--container-width) + var(--container-padding) * 2);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

@media (max-width: 1080px) {
	.container {
		--container-padding: 66px;
	}
}

@media (max-width: 900px) {
	.container {
		--container-padding: 44px;
	}
}

@media (max-width: 660px) {
	.container {
		--container-padding: 20px;
	}
}

@media (max-width: 460px) {
	.container {
		--container-padding: 16px;
	}
}