html {
	position: relative;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

svg {
	max-height: 100%;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p {
	margin: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}
